.date-range {
    display: flex;
}

.user-test-text {
    display: flex;
}

.user-test-text .test-status {
    font-variant: small-caps;
    margin-left:10px;
}

.user-name {
    font-size: 0.8rem !important;
}
